sfdc-renovars-e/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:customer-p-api="http://www.mulesoft.org/schema/mule/customer-p-api" xmlns:document-p-api="http://www.mulesoft.org/schema/mule/document-p-api"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:product-p-api="http://www.mulesoft.org/schema/mule/product-p-api" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/product-p-api http://www.mulesoft.org/schema/mule/product-p-api/current/mule-product-p-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/document-p-api http://www.mulesoft.org/schema/mule/document-p-api/current/mule-document-p-api.xsd
http://www.mulesoft.org/schema/mule/customer-p-api http://www.mulesoft.org/schema/mule/customer-p-api/current/mule-customer-p-api.xsd">
	<flow name="initVars" doc:id="29602897-f678-4fba-9a1f-454f7963e3ec" >
		<set-variable value="#[now()]" doc:name="Set Variable" doc:id="a8e5830a-f3c6-4f96-9d13-969feb41ca91" variableName="timestamp" />
		<set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="cdc59811-e4c1-4531-b109-369a52680010" variableName="transactionId" />
	</flow>
	<flow name="wikicasaGetPropertytoID" doc:id="0e2be0bc-7af4-4d5b-8ec8-98548304f8f2" >
		<logger level="INFO" doc:name="Logger" doc:id="42a9be3c-ccc4-4052-9aca-7c76689033b3" message="getPropertytoId"/>
		<document-p-api:get-property-to-id doc:name="Get property to Id" doc:id="a162f69b-535a-4b98-9f0b-20b1157cd659" config-ref="Document_p_api_Config" f-name="#['wikicasaGetProperty']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}" id="#[attributes.uriParams.'id']"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d933ddc1-8616-4784-a97b-7f67488a606e" >
				<logger level="INFO" doc:name="Logger" doc:id="31878824-4d02-4d45-813d-acc9238f17ce" message="#[%dw 2.0&#10;output application/java&#10;---&#10;'[fName: seller] confirmAccountQuote-e error with message: [' ++ (error.detailedDescription default '') ++ ']']" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="confirmAccountQuote" doc:id="2c215ec6-947b-412f-b4f5-56e00055f346" >
		<flow-ref doc:name="Flow Reference" doc:id="779a4963-4922-4e05-a88d-c883d7cb01a3" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="b0067e19-0e89-49ac-90d5-b0a73f006801" message="#[vars.timestamp ++ vars.transactionId]"/>
		<document-p-api:update-confirm-account-quotes doc:name="Update confirm account quotes" doc:id="35c5f233-c683-45e2-9dca-ed84c9245646" config-ref="Document_p_api_Config" f-name="confirmAccountQuote" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:update-confirm-account-quotes-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	account: payload.account,
	quote: payload.quote,
	client: payload.client
}]]]></document-p-api:update-confirm-account-quotes-request-data>
		</document-p-api:update-confirm-account-quotes>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5ea63162-9907-43ab-9f05-9deaf09ffa84" >
				<logger level="INFO" doc:name="Logger" doc:id="177e71d6-6a5c-4ff3-90d9-9d5e4e034abf" message="#[%dw 2.0&#10;output application/java&#10;---&#10;'[fName: seller] confirmAccountQuote-e error with message: [' ++ (error.detailedDescription default '') ++ ']']" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="Sellers" doc:id="0f1f225c-601c-4ca9-988b-ce0da31626a1" >
		<flow-ref doc:name="Flow Reference" doc:id="838b3aee-beea-46bf-b8bf-449f7661d95b" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="8a4880aa-050a-4fc2-9fe7-fa55c480b601" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:update-sellers doc:name="Update sellers" doc:id="0d4656f4-1aef-4ee9-bc4d-d3f6fa8c397e" config-ref="Document_p_api_Config" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}" f-name="sellers">
			<document-p-api:update-sellers-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	seller: payload
}]]]></document-p-api:update-sellers-request-data>
		</document-p-api:update-sellers>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0f03bfd5-66c9-4a8c-9f77-3c989305d9d0" >
				<logger level="INFO" doc:name="Logger" doc:id="cc09b8de-42da-456e-be92-f61045f80b98" message="#[%dw 2.0&#10;output application/java&#10;---&#10;'[fName: seller] seller-e error with message: [' ++ (error.detailedDescription default '') ++ ']']" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="Appointment" doc:id="06c5a94f-aca7-4add-bd1d-e2222b4edfb4" >
		<flow-ref doc:name="Flow Reference" doc:id="0b30b349-7fa7-490e-8874-fb76d6e98a17" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="797e1932-9fdf-44aa-a266-8d0a61a1a2af" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:update-appointments doc:name="Update appointments" doc:id="b9c48f19-be0b-4132-acff-4e867a28f543" config-ref="Document_p_api_Config" f-name="appointment" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:update-appointments-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	appointment: payload
}]]]></document-p-api:update-appointments-request-data>
		</document-p-api:update-appointments>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="01d1084c-0a05-4b65-9ad5-271e4b55499d" >
				<logger level="INFO" doc:name="Logger" doc:id="566df1e4-7caa-4fc8-87ea-dfdc7ab7e16a" message="#[%dw 2.0&#10;output application/java&#10;---&#10;'[fName: appointment] appointment-e error with message: [' ++ (error.detailedDescription default '') ++ ']']" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="QuoteToFR" doc:id="c2f05458-b248-46fa-b6ce-84306ab5f983" >
		<flow-ref doc:name="Flow Reference" doc:id="5402df1e-ec53-4371-8dbd-f01ada7a3ab3" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="37fb9289-3fd6-4917-8fff-b986a853ed12" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:update-quote-to-f-rs doc:name="Update quote to f rs" doc:id="681c85a6-42e3-4747-b949-2632f070b94a" config-ref="Document_p_api_Config" f-name="quoteToFR" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:update-quote-to-f-rs-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	quote: payload
}]]]></document-p-api:update-quote-to-f-rs-request-data>
		</document-p-api:update-quote-to-f-rs>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0473a776-4f76-42cc-b3b7-66bff0e3ba14" >
				<logger level="INFO" doc:name="Logger" doc:id="ef7c5c3c-d39a-4e54-8dff-beff2ecd01d3" message="#[%dw 2.0&#10;output application/java&#10;---&#10;'[fName: quoteToFR] quotetofr-e error with message: [' ++ (error.detailedDescription default '') ++ ']']" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="Contracts" doc:id="d16ad283-cad2-4edb-8b13-b43ad320ffc5" >
		<flow-ref doc:name="Flow Reference" doc:id="31960dc3-51f0-4168-aec7-6ec973d92646" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="d17e79bf-5188-4b75-a988-9443d7a97733" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:update-contracts doc:name="Update contracts" doc:id="8fe902e0-450c-4780-aefc-a3c840348981" config-ref="Document_p_api_Config" f-name="contracts" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:update-contracts-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	contracts: payload.request.contracts 
}]]]></document-p-api:update-contracts-request-data>
		</document-p-api:update-contracts>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1520d4cc-5a61-42b9-92f1-26189e9fa803" >
				<logger level="INFO" doc:name="Logger" doc:id="55c74850-0a5e-4422-99d5-c2854470b406" message="#[%dw 2.0&#10;output application/java&#10;---&#10;'[fName: seller] seller-e error with message: [' ++ (error.detailedDescription default '') ++ ']']" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="FacileImmobiliareCreateProperty" doc:id="4d79820b-d3c0-43e2-9a6d-7496536bbf35" >
		<flow-ref doc:name="Flow Reference" doc:id="da7d203d-bb52-4ab1-9d68-143989fedfc3" name="initVars"/>
		<logger level="INFO" doc:name="Logger" doc:id="5495bf49-9ebd-4ff2-8641-ce0203a3189f" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:creazione-annunci-facileimmobiliare doc:name="creazione annunci facileimmobiliare" doc:id="3ce3d541-f0c3-4bb1-a71d-bae1cdd9a021" config-ref="Document_p_api_Config" f-name="#['CreatePropertyFacileImmobiliare']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:creazione-annunci-facileimmobiliare-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload.request.properties
}]]]></document-p-api:creazione-annunci-facileimmobiliare-request-data>
		</document-p-api:creazione-annunci-facileimmobiliare>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d55731e6-b33a-4e86-a27e-198556e7d7ce" >
				<logger level="INFO" doc:name="Logger" doc:id="b0fdb2e8-c1e6-4eb2-beef-41bfcdc9fd8f" message="#[%dw 2.0&#10;output application/java&#10;---&#10;'[fName: CreatePropertyFacileImmobiliare] FacileImmobiliareCreateProperty error with message: [' ++ (error.detailedDescription default '') ++ ']']" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="FacileImmobiliareCreateAgent" doc:id="b693a745-c0b3-4163-b24b-6fc5d8f7ee57" >
		<flow-ref doc:name="Flow Reference" doc:id="6cb55d19-d03e-4be5-8def-7a4a887ed0a5" name="initVars"/>
		<logger level="INFO" doc:name="Logger" doc:id="3c2de691-7215-4af5-82df-d53d532a35fa" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:creazione-agenti-facileimmobiliare doc:name="creazione agenti facileimmobiliare" doc:id="707597c8-1a09-44da-88e7-19916ebdb5cf" config-ref="Document_p_api_Config" f-name="#['CreateAgentFacileImmobiliare']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:creazione-agenti-facileimmobiliare-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload.request.agents
}]]]></document-p-api:creazione-agenti-facileimmobiliare-request-data>
		</document-p-api:creazione-agenti-facileimmobiliare>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2774b6b8-d2d4-4592-b6db-270073d8a7be" >
				<logger level="INFO" doc:name="Logger" doc:id="b010e43f-32f4-4645-8f5d-0922463afbbb" message="#[%dw 2.0&#10;output application/java&#10;---&#10;'[fName: CreateAgentFacileImmobiliare] FacileImmobiliareCreateAgent error with message: [' ++ (error.detailedDescription default '') ++ ']']" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="FacileImmobiliareDeleteProperty" doc:id="04873e85-3242-4470-bc0e-b571149dc570" >
		<flow-ref doc:name="Flow Reference" doc:id="41413229-cd4f-45c6-837d-92a788a98519" name="initVars"/>
		<logger level="INFO" doc:name="Logger" doc:id="9eba7110-6228-4341-8d1a-9eaa3fd5172f" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:delete-annunci-facileimmobiliare doc:name="delete annunci facileimmobiliare" doc:id="3f11ae87-069f-4bca-b8c4-bceaa556a3a8" config-ref="Document_p_api_Config" f-name="#['DeletePropertyFacileImmobiliare']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:delete-annunci-facileimmobiliare-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload.request.deleteArray
}]]]></document-p-api:delete-annunci-facileimmobiliare-request-data>
		</document-p-api:delete-annunci-facileimmobiliare>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6ff86b17-9ff4-4b0b-a9f1-e63f6ab20078" >
				<logger level="INFO" doc:name="Logger" doc:id="77e336fa-349c-4809-a663-c7e7662e7219" message="#[%dw 2.0&#10;output application/java&#10;---&#10;'[fName: DeletePropertyFacileImmobiliare] FacileImmobiliareDeleteProperty error with message: [' ++ (error.detailedDescription default '') ++ ']']" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="FacileImmobiliareDeleteAgent" doc:id="dcbb0769-f872-4447-b823-65c5bd6d29d9" >
		<flow-ref doc:name="Flow Reference" doc:id="c45a4c0a-206b-402e-a530-02889a9bb3d4" name="initVars"/>
		<logger level="INFO" doc:name="Logger" doc:id="a0763e5b-10de-4f1d-ac74-0d8c216f0deb" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:delete-agenti-facileimmobiliare doc:name="delete agenti facileimmobiliare" doc:id="39d445d7-4304-4687-aec8-8238a67c602f" config-ref="Document_p_api_Config" f-name="#['DeleteAgentsFacileImmobiliare']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:delete-agenti-facileimmobiliare-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload.request.agents
}]]]></document-p-api:delete-agenti-facileimmobiliare-request-data>
		</document-p-api:delete-agenti-facileimmobiliare>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="941f7c9d-d260-4b89-b81d-3b3092a6cf97" >
				<logger level="INFO" doc:name="Logger" doc:id="50271a5d-966a-4baa-b149-9e5548dd26cf" message="#[%dw 2.0&#10;output application/java&#10;---&#10;'[fName: DeleteAgentFacileImmobiliare] FacileImmobiliareDeleteAgent error with message: [' ++ (error.detailedDescription default '') ++ ']']" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="Campaigns" doc:id="1e912b9d-a75c-42f7-8f79-1c1fb5a0459b" >
		<flow-ref doc:name="Flow Reference" doc:id="96936e62-b443-4089-846c-adf5f445d31a" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="450aa227-4616-4897-85f0-ca8188c1a203" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:update-campaigns doc:name="Update campaigns" doc:id="988ff7f0-931f-455e-8edb-57413451adf9" config-ref="Document_p_api_Config" f-name="campaigns" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:update-campaigns-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	campaigns: payload.request.campaigns 
}]]]></document-p-api:update-campaigns-request-data>
		</document-p-api:update-campaigns>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b04bee1c-6205-4824-8ba6-fa14b83f9afa" >
				<logger level="INFO" doc:name="Logger" doc:id="9a7302cb-9d52-4eb5-9451-c8af9a2d0a16" message="#[%dw 2.0&#10;output application/java&#10;---&#10;'[fName: seller] seller-e error with message: [' ++ (error.detailedDescription default '') ++ ']']" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="WikicasaDeleteAgent" doc:id="781b4f46-57ec-4b27-b319-2dcbda41f326" >
		<flow-ref doc:name="Flow Reference" doc:id="888eab26-025e-4364-818c-b01ce0c76d00" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="42b45670-293a-43cb-955d-aaf5f5e3798d" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:delete-agenti-wikicasa doc:name="delete agenti wikicasa" doc:id="ed43f77d-a809-479a-bf70-0dfcc3c03477" config-ref="Document_p_api_Config" f-name="#['deleteAgentsWikiCasa']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:delete-agenti-wikicasa-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload.request.agents
}]]]></document-p-api:delete-agenti-wikicasa-request-data>
		</document-p-api:delete-agenti-wikicasa>
	</flow>
	<flow name="WikicasapostAgent" doc:id="95279f3f-b871-4491-80d7-dd30f6fa96ef" >
		<flow-ref doc:name="Flow Reference" doc:id="c92a77b0-beb5-434d-8d81-be197b61dd15" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="12c99bea-59b8-47e8-8b65-c3dd70620c1f" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:creazione-agenti-wikicasa doc:name="Creazione agenti wikicasa" doc:id="d522b917-c33d-48cb-b5f5-87f2a0f6164a" config-ref="Document_p_api_Config" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}" f-name="postAgent">
			<document-p-api:creazione-agenti-wikicasa-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload.request.agents
}]]]></document-p-api:creazione-agenti-wikicasa-request-data>
		</document-p-api:creazione-agenti-wikicasa>
	</flow>
	<flow name="WikicasaputAgent" doc:id="4f778e20-7f30-49d4-980e-f195054632f7" >
		<flow-ref doc:name="Flow Reference" doc:id="d284ad3d-5270-4d6a-b375-d4df52051e71" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="5130ab52-8e74-4c6b-9ab0-0d970435cb76" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:modifica-agenti-wikicasa doc:name="Modifica agenti wikicasa" doc:id="ba15ca3d-6fdc-487a-903d-d15ec056461d" config-ref="Document_p_api_Config" f-name="#['putAgentsWikiCasa']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:modifica-agenti-wikicasa-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload.request.agents
}]]]></document-p-api:modifica-agenti-wikicasa-request-data>
		</document-p-api:modifica-agenti-wikicasa>
	</flow>
	<flow name="WikicasaputAgencie" doc:id="e4873b03-fc6a-464e-9ca9-f4f7246cfdb8" >
		<flow-ref doc:name="Flow Reference" doc:id="b62ee02d-b5cd-4177-bd58-920d3d222539" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="238c9cf8-0b71-4465-8cd2-5c7eff98fbd7" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:modifica-agencie-wikicasa doc:name="Modifica agencie wikicasa" doc:id="4c80e044-1397-419a-9092-69f0c19165f7" config-ref="Document_p_api_Config" f-name="#['putAgencieWikiCasa']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:modifica-agencie-wikicasa-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload.request.agencies
}]]]></document-p-api:modifica-agencie-wikicasa-request-data>
		</document-p-api:modifica-agencie-wikicasa>
	</flow>
	<flow name="WikicasapostAgencie" doc:id="e64698da-65c1-4ffe-90ce-a3376118de00" >
		<flow-ref doc:name="Flow Reference" doc:id="76efa784-f410-4249-a3b7-b6f94fd098e7" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="9ce46909-69c6-4519-8933-8c84ce18936a" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:modifica-agencie-wikicasa doc:name="Modifica agencie wikicasa" doc:id="27df5764-7220-4635-829a-6b4b9db5b78a" config-ref="Document_p_api_Config" f-name="#['postAgencieWikiCasa']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}"/>
	</flow>
	<flow name="WikicasapostProperty" doc:id="24aa7319-fefd-4f18-a7b4-9d029ae40e74" >
		<flow-ref doc:name="Flow Reference" doc:id="b0be4dc3-d46e-416e-9b1b-c5c707f34410" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="6fbac815-027a-4767-9a33-3aa283d2cd57" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:post-property-wikicasa doc:name="post Property Wikicasa" doc:id="972b0c18-d716-4e1b-a857-a207526da2d4" config-ref="Document_p_api_Config" f-name="#['postPropertyWikiCasa']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:post-property-wikicasa-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload.request.properties
}]]]></document-p-api:post-property-wikicasa-request-data>
		</document-p-api:post-property-wikicasa>
	</flow>
	<flow name="WikicasaputProperty" doc:id="a0dd9317-f516-4b9e-beb9-64ecd641ae33" >
		<flow-ref doc:name="Flow Reference" doc:id="9162f3fd-47ed-40d8-b6b3-6a4652fb2ba4" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="70fc9934-dfaa-4ba5-b687-7174726dd246" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:put-property-wikicasa doc:name="put Property Wikicasa" doc:id="e2696d7a-fb50-4395-ba93-3822f1b37e57" config-ref="Document_p_api_Config" f-name="#['putPropertyWikiCasa']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:put-property-wikicasa-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload.request.properties
}]]]></document-p-api:put-property-wikicasa-request-data>
		</document-p-api:put-property-wikicasa>
	</flow>
	<flow name="WikicasadeleteProperty" doc:id="2ae589e8-3f65-443b-a877-353e5e4cf2a8" >
		<flow-ref doc:name="Flow Reference" doc:id="9673d112-6715-4bca-9d6c-c9807e8804c9" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="2f53f33c-1e1c-4d48-b435-0dadd62f2dd9" message="#[vars.timestamp ++ vars.transactionId]" />
		<document-p-api:delete-property-wikicasa doc:name="delete Property Wikicasa" doc:id="34312e50-7183-40e6-9bd2-9b132aca0a49" config-ref="Document_p_api_Config" f-name="#['deletePropertyWikiCasa']" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:delete-property-wikicasa-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload.request.deleteArray
}]]]></document-p-api:delete-property-wikicasa-request-data>
		</document-p-api:delete-property-wikicasa>
	</flow>
	<flow name="getUsers" doc:id="7bbc5e22-cd84-4b75-841e-5687eb6f8c3c" >
		<flow-ref doc:name="Flow Reference" doc:id="78fea889-c02b-46c5-bbf9-84d5618143e6" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="102b8cfc-c6ce-4bfe-a115-9985385257f2" message='#[vars.timestamp ++ vars.transactionId ++ " getUser in experience"]' />
		<customer-p-api:get-users doc:name="Get users" doc:id="f3036981-2029-499b-b3bf-2359d7041584" config-ref="Customer_p_api_Config" f-name="#['getUser']" client-id="${secure::customer.process.clientid}" client-secret="${secure::customer.process.clientsecret}"/>
	</flow>
	<flow name="GetEvent" doc:id="291bd512-86d7-433a-af86-05fcf84b6b2a" >
		<flow-ref doc:name="Flow Reference" doc:id="644ffec6-c81d-48b5-b8fb-927f78f3bf64" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="bb7af6f0-b999-45df-878a-eeab29779605" message='#[vars.timestamp ++ vars.transactionId ++ " getEvent in experience"]' />
		<customer-p-api:get-events-by-id doc:name="Get events by id" doc:id="d1743a83-8d8f-40eb-bb00-f4ba05f2e33d" config-ref="Customer_p_api_Config" startdatetime="#[attributes.queryParams.startdatetime]" enddatetime="#[attributes.queryParams.enddatetime]" id="#[attributes.uriParams.'id']" f-name="#['getEvent']" client-id="${secure::customer.process.clientid}" client-secret="${secure::customer.process.clientsecret}"/>
	</flow>
	<flow name="postEvent" doc:id="4d400566-69c9-4a25-bcd9-3ee1e02111a5" >
		<flow-ref doc:name="Flow Reference" doc:id="465917fd-1a48-45d7-8822-439d800e5392" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="4ef117d4-3991-4a8f-9bde-ea65f1a8e81f" message='#[vars.timestamp ++ vars.transactionId ++ " postEvent in experience"]' />
		<customer-p-api:create-event-by-id doc:name="Create event by id" doc:id="eb817249-c0c3-45db-adad-25a7e58fe9ff" config-ref="Customer_p_api_Config" id="#[attributes.uriParams.'id']" f-name="#['postEvent']" client-id="${secure::customer.process.clientid}" client-secret="${secure::customer.process.clientsecret}">
			<customer-p-api:create-event-by-id-request-data ><![CDATA[#[%dw 2.0
output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload
}]]]></customer-p-api:create-event-by-id-request-data>
		</customer-p-api:create-event-by-id>
	</flow>
	<flow name="getPoi" doc:id="d0b7f258-02ff-486e-916d-4dfdf6b4a4a4" >
		<flow-ref doc:name="Flow Reference" doc:id="3d19989d-6436-469c-a46f-b141b68689e0" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="65f2a498-1599-45e7-959c-c9a147467fa6" message='#[vars.timestamp ++ vars.transactionId ++ " getPoi in experience"]' />
		<customer-p-api:get-pois doc:name="Get pois" doc:id="a159aaf9-2be3-41fa-b7ad-b91815cddd11" config-ref="Customer_p_api_Config" latitudine="#[attributes.queryParams.latitudine]" longitudine="#[attributes.queryParams.longitudine]" f-name="#['getPoi']" client-id="${secure::customer.process.clientid}" client-secret="${secure::customer.process.clientsecret}"/>
	</flow>
	<flow name="getTipologia" doc:id="517a3335-64a5-498b-b7df-ce4d69dd909d" >
		<flow-ref doc:name="Flow Reference" doc:id="25c272a6-a29c-4f53-a3c4-568244409e3c" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="ef876437-8a7a-4ea1-b5ff-95fe857cb42d" message='#[vars.timestamp ++ vars.transactionId ++ " getTipologie in experience"]' />
		<customer-p-api:get-tipologies doc:name="Get tipologies" doc:id="6b92926b-6bff-4c03-9c96-bc084af1b1d8" config-ref="Customer_p_api_Config" latitudine="#[attributes.queryParams.latitudine]" longitudine="#[attributes.queryParams.longitudine]" f-name="#['getTipologia']" client-id="${secure::customer.process.clientid}" client-secret="${secure::customer.process.clientsecret}"/>
	</flow>
	<flow name="postSmart" doc:id="88c776e5-7952-41ef-b73c-de1d4beddb4d" >
		<flow-ref doc:name="Flow Reference" doc:id="d2ff1542-b5c3-4a71-8a16-4d635c4f455e" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="96fa5182-864b-4240-be6c-3b30dee8dbf2" message='#[vars.timestamp ++ vars.transactionId ++ " postSmart in experience"]' />
		<customer-p-api:create-smart doc:name="Create smart" doc:id="911ed8be-e49c-40b6-b7fe-64c492c4f542" config-ref="Customer_p_api_Config" f-name="#['postSmart']" client-id="${secure::customer.process.clientid}" client-secret="${secure::customer.process.clientsecret}">
			<customer-p-api:create-smart-request-data ><![CDATA[#[%dw 2.0
output application/json
---
{
    "transactionId":  vars.transactionId,
    "timestamp": vars.timestamp,
    "request": payload.request

}]]]></customer-p-api:create-smart-request-data>
		</customer-p-api:create-smart>
	</flow>
	<flow name="postSmartAffitto" doc:id="e53613a9-8923-46b6-80ff-09552cdb1a16" >
		<flow-ref doc:name="Flow Reference" doc:id="7c709feb-fb1c-46b4-9b52-9f44e115202b" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="dcc96c4a-64d3-4d9d-8f6f-9c5276373719" message='#[vars.timestamp ++ vars.transactionId ++ " postSmartAffitto in experience"]' />
		<customer-p-api:create-affitto doc:name="Create affitto" doc:id="ae5c0200-f90f-4d16-b2fe-617590924419" config-ref="Customer_p_api_Config" f-name="#['postSmartAffitto']" client-id="${secure::customer.process.clientid}" client-secret="${secure::customer.process.clientsecret}">
			<customer-p-api:create-affitto-request-data ><![CDATA[#[%dw 2.0
output application/json
---
{
    "transactionId":  vars.transactionId,
    "timestamp": vars.timestamp,
    "request": payload.request

}]]]></customer-p-api:create-affitto-request-data>
		</customer-p-api:create-affitto>
	</flow>
	<flow name="postEventDelta" doc:id="2085bcbe-db91-4d9b-8e0d-24eed1f55f86" >
		<flow-ref doc:name="Flow Reference" doc:id="24350cc1-fe69-4b5c-8e3d-48b29f6bf8bc" name="initVars"/>
		<logger level="INFO" doc:name="Logger" doc:id="0f6e9916-41b5-4ac2-852b-3bbe4255ae06" message='#[vars.timestamp ++ vars.transactionId ++ " postEventDelta in experience"]' />
		<customer-p-api:create-events-deltum doc:name="Create events deltum" doc:id="61360e6e-7355-42c2-a58c-7050523b3e6e" config-ref="Customer_p_api_Config" startdatetime="#[attributes.queryParams.startdatetime]" enddatetime="#[attributes.queryParams.enddatetime]" f-name='#["postEventDelta"]' client-id="${secure::customer.process.clientid}" client-secret="${secure::customer.process.clientsecret}">
			<customer-p-api:create-events-deltum-request-data ><![CDATA[#[%dw 2.0
output application/json
---
{
    "transactionId":  vars.transactionId,
    "timestamp": vars.timestamp,
    "request": payload.request

}]]]></customer-p-api:create-events-deltum-request-data>
		</customer-p-api:create-events-deltum>
	</flow>
	<flow name="postEventDeltaLink" doc:id="645131bd-e1b5-4a84-9ed7-afae4c1398b7" >
		<flow-ref doc:name="Flow Reference" doc:id="bea9abf8-f0af-45f6-8a1b-693914b0ca5d" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="4dc68264-8f84-4ece-a479-46f8bf075e05" message='#[vars.timestamp ++ vars.transactionId ++ " postEventDeltaLink in experience"]' />
		<customer-p-api:create-events-delta-link doc:name="Create events delta link" doc:id="ce845a02-d81b-44e4-9c27-98203d194151" config-ref="Customer_p_api_Config" startdatetime="#[attributes.queryParams.startdatetime]" enddatetime="#[attributes.queryParams.enddatetime]" f-name='#["postEventDeltaLink"]' client-id="${secure::customer.process.clientid}" client-secret="${secure::customer.process.clientsecret}">
			<customer-p-api:create-events-delta-link-request-data ><![CDATA[#[%dw 2.0
output application/json
---
{
    "transactionId":  vars.transactionId,
    "timestamp": vars.timestamp,
    "request": payload.request

}]]]></customer-p-api:create-events-delta-link-request-data>
		</customer-p-api:create-events-delta-link>
	</flow>
	<flow name="postSaleLeadInspection" doc:id="823e3cf0-1c33-4d43-9573-40d11987de63" >
		<flow-ref doc:name="Flow initVars" doc:id="fa1935cb-40f4-43fa-b2ff-f12dbe528ef4" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="d565b3de-faa4-4c6c-b4ae-d7b8b178c2e9" message='#[vars.timestamp ++ vars.transactionId ++ " postSaleLeadInspection in experience"]' />
		<document-p-api:post-saleleadinspection doc:name="post saleLeadInspection" doc:id="69d08d8e-7198-47b1-aaf8-8cea2efba0b7" config-ref="Document_p_api_Config" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}" f-name='#["postSaleLeadInspection"]'>
			<document-p-api:post-saleleadinspection-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload
}]]]></document-p-api:post-saleleadinspection-request-data>
		</document-p-api:post-saleleadinspection>
	</flow>
	<flow name="postAppointment" doc:id="03d3e8d3-0709-424b-83d7-2e78f94063b4" >
		<flow-ref doc:name="Flow initVars" doc:id="f29acca3-49e9-4a32-bf72-ba8d9a4672bb" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="c0148f76-4977-4b03-9367-3dbbbcc16174" message='#[vars.timestamp ++ vars.transactionId ++ " postAppointment in experience"]' />
		<document-p-api:post-appointment doc:name="post appointment" doc:id="71888d58-3136-4bd2-811a-757ea976a2e1" config-ref="Document_p_api_Config" f-name='#["postAppointment"]' client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:post-appointment-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload
}]]]></document-p-api:post-appointment-request-data>
		</document-p-api:post-appointment>
	</flow>
	<flow name="postPlanimetry" doc:id="5676d5b0-3190-4061-b239-3e6c9bd96231" >
		<flow-ref doc:name="Flow initVars" doc:id="f5e242fe-83c4-4a15-9d4a-3f98280170e8" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="80082dda-0809-4df1-a592-70aed6a29151" message='#[vars.timestamp ++ vars.transactionId ++ " postPlanimetry in experience"]' />
		<document-p-api:post-planimetry doc:name="post planimetry" doc:id="09ee99c3-d6d2-4b21-9df3-70679db965f0" config-ref="Document_p_api_Config" f-name='#["postPlanimetry"]' client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:post-planimetry-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload
}]]]></document-p-api:post-planimetry-request-data>
		</document-p-api:post-planimetry>
	</flow>
	<flow name="postPropertySlot" doc:id="6a5251ef-fdb4-4bd2-add1-b28c2381e84b" >
		<flow-ref doc:name="Flow initVars" doc:id="edc5b6e3-584f-4442-a522-2b75d1d4846d" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="8b6459ba-6ccd-4202-9e13-4e639bc65e2a" message='#[vars.timestamp ++ vars.transactionId ++ " postPropertySlot in experience"]' />
		<document-p-api:post-propertyslot doc:name="post propertySlot" doc:id="d437726f-71d9-405a-b43b-b130755f7932" config-ref="Document_p_api_Config" f-name="postPropertySlot" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:post-propertyslot-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload
}]]]></document-p-api:post-propertyslot-request-data>
		</document-p-api:post-propertyslot>
	</flow>
	<flow name="postPurchaseLeadVisit" doc:id="ea3900e0-b040-4c35-8ef8-6337b8ca8ab6" >
		<flow-ref doc:name="Flow initVars" doc:id="5532c853-da82-4533-9eba-190c3614ea4f" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="973c5751-7af3-4d39-81f2-4d7282d04c6a" message='#[vars.timestamp ++ vars.transactionId ++ " postPropertySlot in experience"]' />
		<document-p-api:post-purchaseleadvisit doc:name="post purchaseLeadVisit" doc:id="3679be19-9fe6-4e43-9734-38c28081e4ad" config-ref="Document_p_api_Config" f-name="postPurchaseLeadVisit" client-id="${secure::document.process.clientid}" client-secret="${secure::document.process.clientsecret}">
			<document-p-api:post-purchaseleadvisit-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload
}]]]></document-p-api:post-purchaseleadvisit-request-data>
		</document-p-api:post-purchaseleadvisit>
	</flow>
	<flow name="postGetUsers" doc:id="fa35af60-7e89-4f78-81f9-4168544106be" >
		<flow-ref doc:name="Flow initVars" doc:id="a390c3cd-267d-4812-a49f-2db70971c7a0" name="initVars" />
		<logger level="INFO" doc:name="Logger" doc:id="f3434e9d-64b0-445b-b1f3-1eef3c20ad8f" message='#[vars.timestamp ++ vars.transactionId ++ " postGetUsers in experience"]' />
		<customer-p-api:post-getusers doc:name="post getUsers" doc:id="42ad5e7b-16cd-46f8-868e-31a37704e9f9" config-ref="Customer_p_api_Config" f-name="postGetUsers" client-id="${secure::customer.process.clientid}" client-secret="${secure::customer.process.clientsecret}">
			<customer-p-api:post-getusers-request-data ><![CDATA[#[output application/json
---
{
	transactionId: vars.transactionId,
	timestamp: vars.timestamp as String,
	request: payload
}]]]></customer-p-api:post-getusers-request-data>
		</customer-p-api:post-getusers>
	</flow>
</mule>
