sfdc-renovars-e/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="sfdc-renovars-e-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" readTimeout="120000" />
    </http:listener-config>
    <apikit:config name="sfdc-renovars-e-api-config" api="resource::9b82ee49-beb3-47b7-a619-0e05153193f5:sfdc-renovars-e-api:1.0.36:raml:zip:sfdc-renovars-e-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sfdc-renovars-e-api-main">
        <http:listener config-ref="sfdc-renovars-e-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sfdc-renovars-e-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\confirmAccountQuote:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="85fb6b2e-61a5-4393-82f6-97f94e536910" name="confirmAccountQuote" />
    </flow>
    <flow name="put:\appointment:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a67673f2-f61c-4d8f-9661-4d10b7384814" name="Appointment" />
    </flow>
    <flow name="put:\quoteToFR:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="6de8c11c-8280-43e0-a8d5-069ad753ec17" name="QuoteToFR" />
    </flow>
    <flow name="put:\sellers:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="72de4a2b-1965-406d-90a6-76f772fdc0a6" name="Sellers" />
    </flow>
    <flow name="put:\contracts:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a1c06bcb-86f6-4e68-9a19-7f531cab3a25" name="Contracts" />
    </flow>
    <flow name="put:\campaigns:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="d7a6c1f5-e459-4a6b-a483-934a4eac4ebe" name="Campaigns" />
    </flow>
    <flow name="delete:\ads\facileimmobiliare\agent:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="5b17beee-df29-4afb-b2d5-9d8f96afefcd" name="FacileImmobiliareDeleteAgent" />
    </flow>
    <flow name="delete:\ads\facileimmobiliare\property:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a5aaabd4-ea1b-4401-8cf5-babb2fb85fb9" name="FacileImmobiliareDeleteProperty" />
    </flow>
    <flow name="post:\ads\facileimmobiliare\agent:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="f886374f-186a-46ba-a2bc-7f917bc02ad6" name="FacileImmobiliareCreateAgent" />
    </flow>
    <flow name="post:\ads\facileimmobiliare\property:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="19bea2d6-b060-450b-abb7-9f2083307715" name="FacileImmobiliareCreateProperty" />
    </flow>
    <flow name="put:\ads\wikicasa\agencie:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="2579a927-64b0-41f2-82f8-e4c99cc62c07" name="WikicasaputAgencie" />
    </flow>
    <flow name="put:\ads\wikicasa\agent:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="cc5c882e-43a4-4509-8402-76e5659e14f3" name="WikicasaputAgent" />
    </flow>
    <flow name="delete:\ads\wikicasa\agent:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="79691529-93cf-44b5-a05d-04f774e7321d" name="WikicasaDeleteAgent" />
    </flow>
    <flow name="post:\ads\wikicasa\agencie:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="6f974172-7608-4ef5-8a9d-f87583d698e4" name="WikicasapostAgencie" />
    </flow>
    <flow name="post:\ads\wikicasa\agent:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="c91b7acb-2fcd-4229-88df-949422feae12" name="WikicasapostAgent" />
    </flow>
    <flow name="put:\ads\wikicasa\property:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="783f9286-df89-4971-ad09-c059dcc5406e" name="WikicasaputProperty" />
    </flow>
    <flow name="delete:\ads\wikicasa\property:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="8725a4af-552d-4361-9608-097c5f8ae128" name="WikicasadeleteProperty" />
    </flow>
    <flow name="post:\ads\wikicasa\property:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="4a80adbc-5380-4004-929f-8987cc053048" name="WikicasapostProperty" />
    </flow>
    <flow name="get:\microsoftgraph\users:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="8604165e-8799-46f0-a595-536d9b55f077" name="getUsers" />
    </flow>
    <flow name="get:\microsoftgraph\(id)\events:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="b5f4eea9-550e-4015-bdb0-7661425b34de" name="GetEvent" />
    </flow>
    <flow name="post:\microsoftgraph\(id)\events:application\json:sfdc-renovars-e-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="0ccc7347-c3a4-4332-a2f1-21ab21512c1e" name="postEvent" />
    </flow>
    <flow name="get:\realitycs\poi:sfdc-renovars-e-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="96fd4fb6-66d9-4384-b518-809e4f9040f7" name="getPoi"/>
    </flow>
    <flow name="get:\realitycs\tipologie:sfdc-renovars-e-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="a273d9ff-f7de-4922-964d-4880a7fbeb11" name="getTipologia"/>
    </flow>
    <flow name="post:\realitycs\smart\affitto:application\json:sfdc-renovars-e-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="85cd2803-20b4-46a3-a0bd-b2d8f9c8166c" name="postSmartAffitto"/>
    </flow>
    <flow name="post:\realitycs\smart:application\json:sfdc-renovars-e-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="86e9aae9-df36-4c16-8aad-0717174d8666" name="postSmart" />
    </flow>
</mule>
